apiVersion: v1
kind: Service
metadata:
  name: driftguard-service
  namespace: driftguard
  labels:
    app: driftguard
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: driftguard
  ports:
    - name: metrics
      port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP